<!DOCTYPE html>

<html>
<head>
<!-- BOOTSTRAP STYLE SHEETS -->
<link rel="stylesheet" href="/static/2.0.3/css1/bootstrap.css">
<link rel="stylesheet" href="/static/2.0.3/css1/bootstrap-responsive.css">

<style>
body{margin-top:40px;margin-left:200px; }
hr{height:2px; background-color:white;}
h1{font-family: Futura, "Trebuchet MS", Arial, sans-serif;}

.verticalLine {
    border-left: thick solid rgb(70, 131, 234);
}
.text{
font-family: Cambria, Georgia, serif;color:black;}

.under{
               color: #DD4B39;
               background-color:white;
               border-bottom:3px solid #DD4B39;
			   margin-top:-2px;
       }
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}	   
	  
</style>
<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<!-- Pretty Photo -->
<script src="/static/2.0.3/js/jquery.prettyPhoto.js"></script>
<link rel="stylesheet" href="/static/2.0.3/css1/prettyPhoto.css">

</head>

<body>

<div class="container-fluid" style="width:50%; background-image:url('/static/green_3.jpg');min-height:500px;">
<h1 style="display:inline;font:20px;"> Contacts Engine</h1> 

<span class="pull-right" style="margin-top:10px;">
	<span class="verticalLine"></span><span>&nbsp;&nbsp;<a rel="tooltip" class="tip"  title="Contacts Home" href="/"><i class="icon-large icon-home"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;</span>
	<!-- <span class="verticalLine"></span><span>&nbsp;&nbsp;<a rel="tooltip" class="tip" title="Search Contacts"  href="/phonebook/search"><i class="icon-large icon-search"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;</span> -->
	<span class="verticalLine"></span><span>&nbsp;&nbsp;<a  rel="tooltip" class="tip" title="Add Contacts" href="/add" style="color:black;text-decoration:none;"><i class="icon-large icon-user"></i>&#43;</i></a>&nbsp;&nbsp;</span>
	<span class="verticalLine"></span><span>&nbsp;&nbsp;<a rel="tooltip" class="tip" title="Favourite Contacts"href="/star"><i class="icon-large icon-star"></i></a>&nbsp;&nbsp;&nbsp;</span>

    <span class="verticalLine"></span><span>&nbsp;&nbsp;<a rel="tooltip" class="tip" title="About Contact Engine"><i style="cursor:pointer;"onClick="$('#myModal').modal()" data-toggle="modal" class="icon-large icon-info-sign"></i></a>&nbsp;&nbsp;</span>
</span>	
<hr/>


<div class="alert  alert-success" style="display:none" id="success-message"></div>

{% block search_bar %}
<br/>
<form for="autocomplete" class="form-search" action="/search" method="GET" >
	<div class="input-append">
		<input  id="autocomplete"  type="text" class="span5" name="term" placeholder="Search by Name, Email or Phone Number">
		<button type="submit" class="btn btn-primary"><span style="cursor:pointer;" class="gbqfi gb_c">Search</span></button>
	</div>
</form>
{% endblock %}

{% block extra %}
{% endblock %}


{% block main %}

<div class="row-fluid">
<br/>           

 {% for Contact in contacts_list reversed%}
	<div id="contact-{{Contact.id}}" style="min-height:90px;"><strong><p class="text" style="display:inline;">Name:</strong> {{Contact.name|capfirst}} <br/>
	<strong>Phone Number: </strong>{{Contact.phone_number}}<br/>
	{% if Contact.email %}
	<strong>Email: </strong>{{Contact.email}}</p>
	{% else %}
	<strong>Email: </strong>Not added</p>
	{%endif %}
	<span id="yourImage" class="pull-right" style="width: 50px; height:50px; overflow: hidden; position: relative;margin-top:-50px;">
	{% if Contact.image %}
		<a href="/media/{{Contact.image}}" rel="prettyPhoto" title="&nbsp;&nbsp;{{Contact.name|capfirst}}'s Profile Picture">
		<img class="img-responsive" src="/media/{{Contact.image}}"/>
		</a>
	{% else %}
        <a href="http://iranian.com/htdocs/images/no-avatar_male.jpg" rel="prettyPhoto" title="&nbsp;&nbsp;Profile Picture Not Added">
			<img  class="img-responsive" src="http://iranian.com/htdocs/images/no-avatar_male.jpg"/>
		</a>
	{% endif%}	
		
	</span>
	<span class="pull-right" style="margin-top:0px;">
	
	{% if Contact.is_starred %}
	<a id="fav_contact-{{Contact.id}}" rel="tooltip" class="tip"  style="text-decoration:none;cursor:pointer;" title="Favourited"> <i id="gg-{{Contact.id}}" class="icon-star"></i> </a>
	{% else %}
	<a id="fav_contact-{{Contact.id}}" rel="tooltip" class="tip"  style="text-decoration:none;cursor:pointer;" title="Add to Favourite"> <i id="gg-{{Contact.id}}" class="icon-star-empty"></i> </a>
	{% endif %}
	
	<a href="/edit/{{Contact.id}}"  style="cursor:pointer;" rel="tooltip" class="tip" title="Edit Contact Details"><i class="icon-edit"></i></a>
	<a rel="tooltip" data-id="{{Contact.id}}" class="delete_contact tip" style="cursor:pointer;" title="Delete Contact"><i class=" icon-remove"></i></a>
	</span> 
<hr/>


<!-- AJAX FAVOURITE -->

<script>
$(document).ready(function(){
var id = {{Contact.id}}
$('#fav_contact-'+id).click(function(){
$('#gg-'+id).removeClass("icon-star-empty").addClass("icon-star");
$.get("/fav/"+id, function(data){
$('#success-message').html('Contact Favourited');
$('#success-message').show();
setTimeout(function(){
				$('#success-message').hide('slow');
			}, 5000);
});
});
});
</script>

</div>

{% endfor %}

 <!--MODAL -->   
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Contacts Engine (v1.0)</h3>
</div>
<div class="modal-body">
<p class="text">A simple application to manage your contacts. You can add new contacts, edit existing contacts, add contacts to favourite groups and search contacts by name, 
    phone number or email address.</p>
<p class="text">
    Built using python webframework Django for server side and Twitter's Bootstrap, jQuery for UI; Contacts Engine has a responsive design with very fast processing. Currently app is hosted on Openshift's RhCloud servers. 
 </p>   
   <p class="text"> 
    Please email me any bugs and other feedbacks nikhil [at] plovist [dot]com.

</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>



<!-- WARNING BEFORE DELETION, USING AJAX -->
<script>
$('.delete_contact').click(function(e){
	e.preventDefault();
	var id = $(this).data('id');
		var result = confirm('Confirm Delete?');
	if(result) {
		$.get("/" + id, function(data){
			$('#contact-' +id).remove();
			$('#success-message').html('Contact Successfully deleted.');
			$('#success-message').show();
			setTimeout(function(){
				$('#success-message').hide('slow');
			}, 5000);
		});
	}	

		
});
</script>


<script>
/*
var msg = decodeURIComponent(location.search.substring(1).split('=')[1]);
 if(msg !==  undefined){
 $('#success-message').html(msg);
$('#success-message').show();
setTimeout(function(){
				$('#success-message').hide('slow');
	}, 5000);
 }
*/
</script>


{% block pagination %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} 


<div id="examplemm" class="pagination">
    <span class="step-links">
        {% if contacts_list.has_previous %}
            <a class="text" style="color:blue;"  href="?page={{ contacts_list.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current text">
            Page {{ contacts_list.number }} of {{ contacts_list.paginator.num_pages }}. &nbsp;
        </span>

        {% if contacts_list.has_next %}
            <a class="text" style="color:blue;" href="?page={{ contacts_list.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>
{% endblock %}






{% endblock %}



</p>


<!-- BOOTSTRAP JS -->
<script src="/static/2.0.3/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function(){
    $("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>




<!-- AUTOCOMPLETE -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
	 $( "#autocomplete" ).autocomplete({
		source: function(request , response) {
			$.getJSON('/contactsapi?term=' + request.term, function(data){
				response(data);	
			});		
		},
		select: function(event, ui)  {
			window.location = "/search/?term=" + ui.item.fields.name;
		}
	}).data('ui-autocomplete')._renderItem = function( ul, item ) {
		return $( "<li>" )
				.append( $( "<a>" ).text(item.fields.name + ' - ' + item.fields.phone_number + ' '+ item.fields.email) )
				.appendTo( ul );
		} ;
	
</script>

 
<!-- TOOL TIP -->
<script type="text/javascript">
    $(document).ready(function() {
        $('.tip').tooltip();
    });
</script>

<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>


</body>
</html>